Nesta seção iremos falar sobre consultas. Para fazer uma consulta é bem simples, basta seguir a sintaxe abaixo:

In [ ]:
SELECT <colunas> FROM <tabela>;

Exemplo:

In [6]:
USE sucos_vendas;
GO

SELECT * FROM clientes;

cpf,nome_completo,rua,complemento,bairro,estado,CEP,data_nascimento,idade,sexo,limite_credito,volume_minimo_compra,ja_fez_compra,cidade
1471156710,Erica Carvalho,R. Iriquitia,NULL,Jardins,SP,80012212,1990-09-01,34,F,"17000000,00",24500,0,São Paulo
19290992743,Fernando Cavalcante,R. Dois de Fevereiro,NULL,Agua Santa,RJ,22000000,2000-02-12,24,M,"1000000000,00",20000,1,Rio de Janeiro
2600586709,Cesar Teixeira,Rua Conde de Bonfim,NULL,Tijuca,RJ,22020001,2000-03-12,24,M,"1200000000,00",22000,0,Rio de Janeiro
3623344710,Marcos Nogueira,Av. Pastor Martin Luther King Junior,NULL,Inhauma,RJ,22002012,1995-01-13,29,M,"1100000000,00",22000,1,Rio de Janeiro
492472718,Eduardo Jorge,R. Volta Grande,NULL,Tijuca,RJ,22012002,1994-07-19,30,M,"750000000,00",9500,1,Rio de Janeiro

O \* no exemplo acima significa que eu quero ver todas as colunas da tabela.

Caso você queira ver apenas algumas colunas específicas, basta colocar no lugar do \*:

In [7]:
USE sucos_vendas;
GO

SELECT nome_completo, idade FROM clientes;

nome_completo,idade
Erica Carvalho,34
Fernando Cavalcante,24
Cesar Teixeira,24
Marcos Nogueira,29
Eduardo Jorge,30

Também é possível escolher como você quer ordenar, por padrão as linhas exibidas são ordenadas pela ordem de adição, porém e se eu quiser ordernar pela ordem alfabética dos nomes? Para isso vamos usar a instrução ORDER BY:

In [5]:
USE sucos_vendas;
GO

SELECT * FROM clientes ORDER BY nome_completo;

cpf,nome_completo,rua,complemento,bairro,estado,CEP,data_nascimento,idade,sexo,limite_credito,volume_minimo_compra,ja_fez_compra,cidade
2600586709,Cesar Teixeira,Rua Conde de Bonfim,NULL,Tijuca,RJ,22020001,2000-03-12,24,M,"1200000000,00",22000,0,Rio de Janeiro
492472718,Eduardo Jorge,R. Volta Grande,NULL,Tijuca,RJ,22012002,1994-07-19,30,M,"750000000,00",9500,1,Rio de Janeiro
1471156710,Erica Carvalho,R. Iriquitia,NULL,Jardins,SP,80012212,1990-09-01,34,F,"17000000,00",24500,0,São Paulo
19290992743,Fernando Cavalcante,R. Dois de Fevereiro,NULL,Agua Santa,RJ,22000000,2000-02-12,24,M,"1000000000,00",20000,1,Rio de Janeiro
3623344710,Marcos Nogueira,Av. Pastor Martin Luther King Junior,NULL,Inhauma,RJ,22002012,1995-01-13,29,M,"1100000000,00",22000,1,Rio de Janeiro

Também podemos ordernar por outras colunas, por exemplo se escolhermos ordernar por idade, iremos ordernos do mais novo para o mais velho.

Certo, vimos como consultar dados com colunas específicas e ordernar a consulta, porém e se quisermos consultar os dados e na exibição exibir a coluna com outro nome? Para isso vamos usar a instrução AS(Alias):

In [8]:
USE sucos_vendas;
GO

SELECT nome_completo AS nome_do_cliente FROM clientes;

nome_do_cliente
Erica Carvalho
Fernando Cavalcante
Cesar Teixeira
Marcos Nogueira
Eduardo Jorge

Também podemos usar essa instrução para criar novas colunas apenas na exibição, por exemplo e se quisermos exibir uma coluna 'endereço\_completo' formado pelas colunas rua, bairro, estado, cep:

In [9]:
USE sucos_vendas;
GO

SELECT (rua + ' ' + bairro + ' ' + estado + ' ' + CEP) AS endereço_completo FROM clientes;

endereço_completo
R. Iriquitia Jardins SP 80012212
R. Dois de Fevereiro Agua Santa RJ 22000000
Rua Conde de Bonfim Tijuca RJ 22020001
Av. Pastor Martin Luther King Junior Inhauma RJ 22002012
R. Volta Grande Tijuca RJ 22012002

Veja que essa coluna não existe na tabela, porém ela deriva dos dados da tabela, logo o comando SELECT pode ser usado para além de consultar dados, também manipulá-los.

Outra instrução que podemos utilizar junto com o SELECT é o DISTINCT, essa instrução permite que os dados retornados não sejam repetidos, por exemplo imagine que na tabela produtos existam dois produtos com mesmo sabor porém com outros atributos distintos, se executassé-mos o comando para exibir os sabores da tabela o sabor dos dois produtos apareceria duas vezes, para evitar isso vamos utilizar a instrução DISTINCT:

In [11]:
USE sucos_vendas;
GO

SELECT DISTINCT sabor FROM produtos;

sabor
Cola
Guarana
Melancia